  * {
    margin: 0;
  }

  html, body {
    height: 100vh;
    margin: 0;
  }

  .home_page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    overflow: hidden;
    min-height: 100vh;
    margin: 1rem 0;
  }
  .corpo {
    display: flex;
    flex-direction: column;
    gap: 2vb 0;
    width: 98vw;
  }
  .cabecalho {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .barraSuperior {
    position: relative;
    height: 9vh;
    background-color: white;
    border-radius: 15px;
    outline: 2px solid #7b0ae6;
  }
  .info_cabecalho {
    position: absolute;
    padding: 1.5vb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    width: 100%;
    height: 100%;
  }
  .logoSanofi {
    margin-top: 1.1vb;
    width: 20vb;
    min-width: 0;
  }
  .icones_cabecalho {
    display: flex;
    align-items: center;
    gap: 0 12px;
    min-width: 0;
  }
  .voltar {
    width: 7.4vb;
    min-width: 0;
  }
  .perfil {
    width: 7vb;
    min-width: 0;
  }
  .config {
    width: 6vb;
    min-width: 0;
  }
  .sair {
    margin-top: 0.5vh;
    width: 5vb;
    min-width: 0;
  }
  .colunas {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    gap: 3.2vb;
    width: 98vw;
  }
  .prox_eventos {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 29.5vw;
    height: 29vb;
    position: relative;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .prox_eventos_titulo {
    display: flex;
    justify-content: center;
    font: 700 3.6vb/1.19 "Inria Sans", Helvetica, Arial, serif;
    color: #010101;
    text-align: center;
  }
  .Doc {
    display: flex;
    align-items: space-between;
    justify-content: center;
  }
  #caixa_roxa_contorno {
    display: flex;
    justify-content: start;
    padding-left: 0.6vw;
    margin-top: 3vh;
    width: 490px;
    width: 26vw;
    height: 7.3vh;
    background-color: rgba(123, 10, 230, 0);
    border-radius: 15px;
    outline: 3px solid #7b0ae6;
    outline-offset: -3px;
    font-size: large;
  }
  input[type="file"] {
    opacity: 0; /* Esconde o input */
    position: absolute;
    right: 0;
    cursor: pointer;
    position: absolute;
    left: -9999px;
  }
  .file-input {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Para alinhar o ícone e o nome na horizontal */
    position: relative;
  }
  label {
    cursor: pointer;
    position: relative; /* Certifique-se de que o label está no lugar correto */
  }
  label img {
    width: 4vb; /* Tamanho do ícone */
    height: 4vb;
    object-fit: cover;
    position: absolute; /* Mantém o ícone fixo no layout */
    right: -24vw;
    transform: translateY(-50%);
  }
  #file-name {
    font-size: 1.4vb;
    color: #333; /* Cor do texto */
    white-space: nowrap; /* Evita que o nome quebre em várias linhas */
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona "..." se o nome do arquivo for muito longo */
  }
  .botoes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 2.4vh 5vw 0;
    width: 18vw;
  }
  .verde {
    position: relative;
    display: block;
    min-height: 7.3vh;
    background-color: #02a125;
    border-radius: 15px;
  }
  .confirmTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    font: 400 3.8vb/1.21 "Inria Sans", Helvetica, Arial, serif;
    color: white;
    text-align: right;
    text-decoration: none;
  }
  .caixa_calendario {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 2px;
    width: 70vw;
    min-width: 0;
  }
  .fundo_calendario {
    position: relative;
    height: 79.9vb;
    width: 67.8vw;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .roxo_calendario {
    position: relative;
    display: flex;
    justify-content: center;
    height: 12vh;
    background-color: #7b0ae6;
    border-radius: 15px;
  }
  .calendarioTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    font: 800 5.6vb/1.21 "Inria Sans", Helvetica, Arial, serif;
    color: white;
    text-align: right;
    text-decoration: none;
  }
  .rodape {
    position: fixed;
    display: flex;
    justify-content: end;
    bottom: 0;
    width: 100vw;
    height: 5.6vh;
    background-color: #010101;
  }
  .barraInferior {
    position: flex;
    display: flex;
    align-items: center;
    gap: 0 0.7vb;
    padding-right: 1vw;
  }
  .desenvolvidoPor {
    min-width: 0;
    font: 300 3.6vb/1.2 "Inria Sans", Helvetica, Arial, serif;
    color: #ebebeb;
  }
  .logoiHumanTech {
    width: 10vb;
  }
