* {
    margin: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }

 .home_geral {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    overflow: hidden;
    min-height: 100vh;
  }
 .conteudo-home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px 0;
    margin: 1rem 0;
  }
  .corpo {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    width: 96.98%;
  }
  .cabecalho {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .barraSuperior {
    position: relative;
    min-height: 86px;
    background-color: white;
    border-radius: 15px;
    outline: 2px solid #7b0ae6;
  }
  .info_cabecalho {
    position: absolute;
    padding: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    width: 100%;
    height: 100%;
  }
  .logoSanofi {
    margin-top: 17px;
    width: 206px;
    min-width: 0;
  }
  .icones_cabecalho {
    display: flex;
    align-items: center;
    gap: 0 12px;
    min-width: 0;
  }
  .perfil {
    width: 72px;
    min-width: 0;
  }
  .config {
    width: 60px;
    min-width: 0;
  }
  .sair {
    width: 51px;
    min-width: 0;
  }
  .colunas {
    display: flex;
    align-self: flex-start;
    gap: 0 17px;
    width: 100%;
  }
  .caixa_botoes {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 2px;
    width: 30%;
    min-width: 0;
  }
  .caixa_Malas, .caixa_Perifericos {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 2px;
    width: 30%;
    min-width: 0;
    gap: 15px;
  }
  .prox_eventos {
    min-height: 275px;
    position: absolute;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .prox_eventos_titulo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    right: 0;
    font: 700 36px/1.19 "Inria Sans", Helvetica, Arial, serif;
    color: #010101;
    text-align: center;
  }
  .fundo_caixa {
    position: relative;
    min-height: 280px;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .fundo_caixa_malas {
    position: relative;
    min-height: 60px;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .imagens_peri, .imagens_malas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .itens_perifericos, .itens_malas {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    min-height: 30px;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
    width: 230px;
    height: 230px;
  }
  .cadastrar_caixa {
    position: absolute;
    padding-bottom: 1rem;
    padding-left:  1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .catalogo_malas, .catalogo_perifericos {
    position: absolute;
    padding-bottom: 1rem;
    padding-left:  1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .cadastrar_titulo, .perifericos_titulo {
    display: flex;
    justify-content: center;
    font: 700 36px/1.19 "Inria Sans", Helvetica, Arial, serif;
    color: #010101;
    text-align: center;
  }
  .malas_titulo {
    display: flex;
    justify-content: center;
    font: 700 36px/1.19 "Inria Sans", Helvetica, Arial, serif;
    color: #010101;
    text-align: center;
  }
  .Usuario, .Email, .Setor {
    display: flex;
    align-items: center;
    justify-items: right;
    gap: 0 16px;
    margin: 47px 0 0;
    width: 100%;
  }
  .Nome {
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    min-width: 155;
    width: 200px;
    font: 400 28px/1.21 "Inria Sans", Helvetica, Arial, serif;
    color: #010101;
    text-align: right;
  }
  #caixa_roxa {
    display: flex;
    justify-content: end;
    padding-left: 15px;
    margin-top: 20px;
    width: 400px;
    min-width: 0;
    height: 73px;
    min-height: 73px;
    background-color: rgba(123, 10, 230, 0);
    border-radius: 15px;
    outline: 3px solid #7b0ae6;
    outline-offset: -3px;
    font-size: large;
  }
  #caixa_roxa_contorno {
    display: flex;
    justify-content: start;
    padding-left: 15px;
    margin-top: 20px;
    width: 490px;
    min-width: 0;
    height: 73px;
    min-height: 73px;
    background-color: rgba(123, 10, 230, 0);
    border-radius: 15px;
    outline: 3px solid #7b0ae6;
    outline-offset: -3px;
    font-size: large;
  }
  input[type="file"] {
    opacity: 0; /* Esconde o input */
    position: absolute;
    right: 0;
    cursor: pointer;
    position: absolute;
    left: -9999px;
  }
  .file-input {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Para alinhar o ícone e o nome na horizontal */
    position: relative;
  }
  
  label {
    cursor: pointer;
    position: relative; /* Certifique-se de que o label está no lugar correto */
  }
  
  label img {
    width: 40px; /* Tamanho do ícone */
    height: 40px;
    object-fit: cover;
    position: absolute; /* Mantém o ícone fixo no layout */
    right: -455px; /* Posição fixa, ajuste conforme necessário */
    top: 0px;
    transform: translateY(-50%);
  }
  
  #file-name {
    margin-left: 10px; /* Espaço suficiente para garantir que o nome não sobreponha o ícone */
    font-size: 14px;
    color: #333; /* Cor do texto */
    white-space: nowrap; /* Evita que o nome quebre em várias linhas */
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona "..." se o nome do arquivo for muito longo */
  }
  #bola_roxa {
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #7b0ae6;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
  #bola_roxa:checked {
    background-color: rgb(94, 255, 0);
  }
  .Training, .Responsavel, .Tipo, .Area, .Formato, .Localidade, .Data {
    display: flex;
    align-items: center;
    justify-items: right;
    gap: 0 36px;
    margin-top: 21px;
    margin-bottom: 21px;
    width: 100%;
  }
  .botoes {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 24px 0 0;
    width: 65.49%;
  }
  .verde {
    position: relative;
    display: block;
    min-height: 73px;
    background-color: #02a125;
    border-radius: 15px;
  }
  .roxo {
    position: relative;
    display: block;
    min-height: 73px;
    background-color: #7b0ae6;
    border-radius: 15px;
  }
  .confirmTitle, .dashTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    font: 400 38px/1.21 "Inria Sans", Helvetica, Arial, serif;
    color: white;
    text-align: right;
    text-decoration: none;
  }
  .caixa_calendario {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 2px;
    width: 70%;
    min-width: 0;
  }
  .fundo_calendario {
    position: relative;
    min-height: 795px;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .roxo_calendario {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 120px;
    background-color: #7b0ae6;
    border-radius: 15px;
  }
  .calendarioTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    font: 800 56px/1.21 "Inria Sans", Helvetica, Arial, serif;
    color: white;
    text-align: right;
    text-decoration: none;
  }
  .rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .fundo_rodape {
    position: relative;
    min-height: 55px;
    background-color: #010101;
  }
  .barraInferior {
    position: absolute;
    top: -1px;
    right: 14px;
    display: flex;
    align-items: center;
    gap: 0 12px;
    width: 328px;
    height: 56px;
  }
  .desenvolvidoPor {
    min-width: 0;
    font: 300 35px/1.2 "Inria Sans", Helvetica, Arial, serif;
    color: #ebebeb;
  }
  .logoiHumanTech {
    width: 91px;
    min-width: 0;
  }
  .conf_malas {
    width: 85%;
    margin-left: 39px;
  }
