* {
    margin: 0;
  }
  
  html, body {
    height: 100vh;
    margin: 0;
  }

 .home_page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    overflow: hidden;
    min-height: 100vh;
    margin: 1rem 0;
  }
  .conteudo {
    display: flex;
  }
  .corpo {
    display: flex;
    flex-direction: column;
    gap: 2vb 0;
    width: 98vw;
  }
  .cabecalho {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .barraSuperior {
    position: relative;
    height: 9vh;
    background-color: white;
    border-radius: 15px;
    outline: 2px solid #7b0ae6;
  }
  .info_cabecalho {
    position: absolute;
    padding: 1.5vb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    width: 100%;
    height: 100%;
  }
  .logoSanofi {
    margin-top: 0.7vb;
    width: 20vb;
    min-width: 0;
  }
  .icones_cabecalho {
    display: flex;
    align-items: center;
    gap: 0 12px;
    min-width: 0;
  }
  .perfil {
    width: 7vb;
    min-width: 0;
  }
  .config {
    width: 6vb;
    min-width: 0;
  }
  .sair {
    margin-top: 0.5vh;
    width: 5vb;
    min-width: 0;
  }
  .esquerda {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 2.5vh;
    width: 31.2vw;
  }
  .caixa_botoes {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 29.5vw;
    height: 57vb;
    position: relative;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .proxEvento {
    padding-top: 0.7vb;
    position: relative;
    height: 20.4vb;
    width: 29.5vw;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .botoes_paginas {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 57vb;
    height: 29.5vh;
    margin-left: 4vw;
    padding-top: 2vh;
  }
  .proxEventoTitulo {
    display: flex;
    justify-content: center;
    font: 700 3.6vb/1.19 "Inria Sans", Helvetica, Arial, serif;
    color: #010101;
    text-align: center;
  }
  .caixa_calendario {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 2px;
    width: 66.8vw;
    min-width: 0;
  }
  .fundo_calendario {
    position: relative;
    display: flex;
    height: 80.1vh;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .rodape {
    position: fixed;
    display: flex;
    justify-content: end;
    bottom: 0;
    width: 100vw;
    height: 5.6vh;
    background-color: #010101;
  }
  .barraInferior {
    position: flex;
    display: flex;
    align-items: center;
    gap: 0 0.7vb;
    padding-right: 1vw;
  }
  .desenvolvidoPor {
    min-width: 0;
    font: 300 3.6vb/1.2 "Inria Sans", Helvetica, Arial, serif;
    color: #ebebeb;
  }
  .logoiHumanTech {
    width: 10vb;
  }
  .conf_malas, .calendario, .conf_agil, .dash_agil {
    width: 22vw;
    max-height: 13vh;
  }
  .roxo_calendario {
    position: relative;
    display: flex;
    justify-content: center;
    height: 9.7vh;
    background-color: #7b0ae6;
    border-radius: 15px;
    width: 66.8vw;
  }
  .caixa_calendario {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 66.8vw;
  }
  .fundo_calendario {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80.1vh;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .calendarioTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    font: 800 5.6vb/1.21 "Inria Sans", Helvetica, Arial, serif;
    color: white;
    text-align: right;
    text-decoration: none;
  }