* {
    margin: 0;
  }
  
  html, body {
    height: 100vh;
    margin: 0;
  }

  .home_page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    overflow: hidden;
    min-height: 100vh;
    margin: 1rem 0;
  }
 .conteudo-home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px 0;
    margin: 1rem 0;
  }
  .corpo {
    display: flex;
    flex-direction: column;
    gap: 2vb 0;
    width: 98vw;
  }
  .cabecalho {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .barraSuperior {
    position: relative;
    min-height: 9vh;
    background-color: white;
    border-radius: 15px;
    outline: 2px solid #7b0ae6;
  }
  .info_cabecalho {
    position: absolute;
    padding: 1.5vb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    width: 100%;
    height: 100%;
  }
  .logoSanofi {
    margin-top: 1.1vb;
    width: 20vb;
    min-width: 0;
  }
  .icones_cabecalho {
    display: flex;
    align-items: center;
    gap: 0 12px;
    min-width: 0;
  }
  .perfil {
    width: 7vb;
    min-width: 0;
  }
  .config {
    width: 6vb;
    min-width: 0;
  }
  .sair {
    margin-top: 0.5vh;
    width: 5vb;
    min-width: 0;
  }
  .colunas {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    width: 98vw;
  }
  .caixa_botoes {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 2px;
    width: 29.5vw;
    height: 57vb;
  }
  .caixa_Malas, .caixa_Perifericos {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 29.5vw;
    gap: 2.5vh;
    position: relative;
    height: 7vh;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .fundo_caixa {
    position: relative;
    min-height: 63vh;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .fundo_caixa_malas {
    position: relative;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
  }
  .imagens_peri, .imagens_malas {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vb;
    height: 20vh;
    justify-content: center;
  }
  .itens_perifericos, .itens_malas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    outline: 0.5px solid #010101;
    width: 23vb;
    height: 23vb;
  }
  .mala1, .mala2, .mala3, .mala4, .mala5, .mala6 {
    width: auto;
    height: auto;
    max-width: 22vb;
    max-height: 22vb;
  }
  .cadastrar_caixa {
    position: absolute;
    padding-left:  1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29.5vw;
  }
  .catalogo_malas, .catalogo_perifericos {
    position: relative;
    padding-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cadastrar_titulo, .perifericos_titulo {
    display: flex;
    justify-content: center;
    font: 700 3.6vb/1.19 "Inria Sans", Helvetica, Arial, serif;
    color: #010101;
    text-align: center;
  }
  .malas_titulo {
    display: flex;
    justify-content: center;
    font: 700 3.6vb/1.19 "Inria Sans", Helvetica, Arial, serif;
    color: #010101;
    text-align: center;
  }
  .Usuario, .Email, .Setor {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0 0.7vw;
    margin: 4.7vh 0 0;
    width: 27.5vw;
  }
  .Nome {
    display: flex;
    padding-left: 0.6vw;
    justify-content: flex-start;
    width: 10vw;
    font: 400 2.8vb/1.21 "Inria Sans", Helvetica, Arial, serif;
    color: #010101;
    text-align: right;
  }
  .caixa_roxa {
    display: block;
    padding-left: 0.6vw;
    width: 18.8vw;
    height: 7.5vh;
    background-color: rgba(123, 10, 230, 0);
    border-radius: 15px;
    outline: 3px solid #7b0ae6;
    outline-offset: -3px;
    font-size: large;
  }
  .bola_roxa {
    position: absolute;
    margin-left: 9vw;
    width: 2.5vb;
    height: 2.5vb;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #7b0ae6;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 17vh;
  }
  .bola_roxa:checked {
    background-color: rgb(94, 255, 0);
}
  .botoes {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 2.4vh 0 0;
    width: 23vw;
  }
  .verde {
    position: relative;
    display: block;
    height: 7.3vh;
    background-color: #02a125;
    border-radius: 15px;
  }
  .roxo {
    position: relative;
    display: block;
    height: 7.3vh;
    background-color: #7b0ae6;
    border-radius: 15px;
  }
  .confirmTitle:active {
    color: #036d1a;
  }
  .dashTitle:active {
    color:#6208b6;
  }
  .solicita {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .botoes_s {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 18vw;
    margin-top: 2vh;
  }
  .branco {
    position: relative;
    display: block;
    height: 7.3vh;
    width: 23vw;
    background-color: white;
    border-radius: 15px;
    border: 3px solid #7b0ae6;
  }
  .soliTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    font: 400 3.8vb/1.21 "Inria Sans", Helvetica, Arial, serif;
    color: #7b0ae6;
    text-align: right;
    text-decoration: none;
  }
  .confirmTitle, .dashTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    font: 400 3.8vb/1.21 "Inria Sans", Helvetica, Arial, serif;
    color: white;
    text-align: right;
    text-decoration: none;
  }
  .rodape {
    position: fixed;
    display: flex;
    justify-content: end;
    bottom: 0;
    width: 100vw;
    height: 5.6vh;
    background-color: #010101;
  }
  .barraInferior {
    position: flex;
    display: flex;
    align-items: center;
    gap: 0 0.7vb;
    padding-right: 1vw;
  }
  .desenvolvidoPor {
    min-width: 0;
    font: 300 3.6vb/1.2 "Inria Sans", Helvetica, Arial, serif;
    color: #ebebeb;
  }
  .logoiHumanTech {
    width: 10vb;
  }
  .erroIten {
    outline: 3px solid red;
  }